*{
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.dgv{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
}
.dgvTitulos{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
    background-color: #138;
    color:#fff;
    border-radius: 5px 5px 0px 0px;
}
.dgvDados{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: column;
}
.dgvLinha{
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    flex-direction: row;
}
.dgvLinha:nth-child(odd){ /* Add uma pseudo class nas linhas ímpares*/
    background-color: #ddd;
}
dgvLinha:nth-child(even){ /* Add uma pseudo class nas linhas pares*/
    background-color: #eee;
}
.dgvLinha:hover{
    background-color: #088 !important;
    color: white;
    cursor: pointer;
}

.dgvTitulos div, .dgvLinha div{
    padding: 5px;
}

.coluna{
    display: flex;
    justify-content: flex-start;
    align-self: center;
}
.c1{
    width: 50px;
}
.c2{
    width: 150px; 
}
.c3{
    width: 150px;   
}
.c4{
    width: 150px;    
}
.c5{
    width: 100px;
    justify-content: space-around !important;
    align-self: center;    
}

.dgvIcone{
    width: 20px;
}