*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.cat-img{
    border: 5px solid #fff;
    max-width: 500px;
    margin: 10px;
}