@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 4rem;
    color: black;
    padding: 5px;    
}
p{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2rem;
    color: black;
    margin: 5px;
}
 
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: brown;
}

.display{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 70vh;
    background-color: blue;
}

.control{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: yellow;
}

.caixa{
    width: 15%;
    height: 25%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
}

.btnjogar{
    width: 30%;
    height: 20%;
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.219);
    padding: 5px;
}

.btnjogar:hover{
    color: white;
    background-color: rgba(73, 71, 71, 0.411);
    cursor: pointer;
}

.btnnova{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.219);
    padding: 5px;
}

.btnnova:hover{
    color: white;
    background-color: rgba(73, 71, 71, 0.411);
    cursor: pointer;
}

.letra{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}

.quadro{
    background-color: blueviolet;
    position: relative;
    top: 30px;
    width: 100%;
    height: 200px;
}
#letrasdig{
    position: absolute;
    top: 10%;
    left: 50%;
}

#textoinicial{
    position: absolute;
    left: 620px;
    top: 220px;
    font-size: large;
    background-color: springgreen;    
}

/*
.dvdisplay{
    display: flex;
    position: absolute;
    left: 640px;
    top: 438px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    
}

.forcaimg{
    position: absolute;
    left: 300px;
    top: 100px;
    height: 500px;
}
#cabeçaimg{
    position: absolute;
    left: 470px;
    top: 210px;
    width: 100px;
}
#cabeçaMimg{
    position: absolute;
    left: 470px;
    top: 210px;
    width: 100px;
}
#corpoimg{
    position: absolute;
    left: 488px;
    top: 272px;
    width: 100px;
    height: 100px;
}
#braçoEimg{
    position: absolute;
    left: 432px;
    top: 278px;
    width: 100px;
    height: 100px;
}
#braçoDimg{
    position: absolute;
    left: 535px;
    top: 277px;
    width: 100px;
    height: 100px;
}
#pernaEimg{
    position: absolute;
    left: 438px;
    top: 365px;
    width: 100px;
    height: 100px;
}
#pernaDimg{
    position: absolute;
    left: 533px;
    top: 360px;
    width: 100px;
    height: 110px;
} */