@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 4rem;
    color: black;
    padding: 5px;    
}
p{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2rem;
    color: black;
    margin: 5px;
}
 
.container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

.display{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 70vh;
}

.control{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30%;
}

.caixa{
    width: 15%;
    height: 25%;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
}

.btnjogar{
    width: 30%;
    height: 20%;
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.219);
    padding: 5px;
}

.btnjogar:hover{
    color: white;
    background-color: rgba(73, 71, 71, 0.411);
    cursor: pointer;
}

.btnnova{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.219);
    padding: 5px;
}

.btnnova:hover{
    color: white;
    background-color: rgba(73, 71, 71, 0.411);
    cursor: pointer;
}

.letra{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}

.quadro{
    position: relative;
    top: 30px;
    width: 100%;
    height: 200px;
}
#letrasdig{
    position: absolute;
    top: 10%;
    left: 50%;
}

#textoinicial{
    position: absolute;
    left: 620px;
    top: 220px;
    font-size: large;
    background-color: springgreen;    
}

.dvdisplay {
    user-select: none;
}

.dvdisplay .letra {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
}

.dvforca {
  position: relative;
  width: 50%;
  height: 60vh;
  background-color: green;
}

.dvforca img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 60vh;
}

.forcaimg {
  position: relative; /* imagem base, visível sempre */
  z-index: 1;
}

.forcaparte {
  z-index: 2;
  display: none; /* só mostraremos uma por vez no JS */
}



/* .dvforca{
   width: 50%;
   height: 80vh;
}

.forcaimg{ 
    position: absolute;
    top: 10px;
    left: 30px;
    width: 20%;
    
}

#cabeçaimg{
    position: absolute;
    top: 140px;
    left: 175px;
    width: 13%;
}

#corpoimg{
    position: absolute;
    top: 260px;
    left: 215px;
    width: 12%;
    height: 20%;
}

#braçoEimg{
    position: absolute;
    top: 260px;
    left: 115px;
    width: 12%;
    height: 20%;
}

#braçoDimg{
    position: absolute;
    top: 258px;
    left: 300px;
    width: 12%;
    height: 20%;
}

#pernaEimg{
    position: absolute;
    top: 370px;
    left: 130px;
    width: 12%;
    height: 20%;
}

#pernaDimg{
    position: absolute;
    top: 370px;
    left: 293px;
    width: 12%;
    height: 20%;
} */

/*
#cabeçaMimg{
    position: absolute;
    left: 470px;
    top: 210px;
    width: 100px;
}
*/