*{
    margin: 0;
    padding: 0;
}

.container-slide{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    margin: 20vh auto;
    border-radius: 10px;
    box-shadow: 0 20px 30px black;

}

.container-itens{
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}

.item{
    width: 50vw;
    height: 50vh;
    transition: all 1s;
    
}
.item:first-child{
    margin-left: -100%;
}
.item img{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
}

.action-button{
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;                 /*Transparente*/
    user-select: none;
    z-index: 1;                         /*Trás o conteúdo para frente (primeira camada)*/

}
.action-button:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.388);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

