body{ background: rgb(84, 151, 238);
    font: arial 15pt Arial;

}

header{ color: white;
      text-align: center; /*Centraliza a linha na tela*/

}

section{ background: white; 
       border-radius: 10px; /*Arredonda as bordas*/
       padding: 15px; /*Altera a altura da section*/
       width: 500px; /*Altera a largura da section*/
       margin: auto; /*Centraliza a section na tela*/
       box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.692);



}

footer{ color: white;
      text-align: center;
      font-style: italic;


}