body{
    background-color: black;
    background-image: url("Imagens/background.png");
    overflow-x: hidden;
    overflow-y: hidden;
}
#painel{
    color: white;
}
.naveJog{
    width: 40px;
    height: 40px;
    background-image: url("Gifts/nave_jog.gif");
    position: absolute;
}
.telaMsg{
    position: absolute;
    margin-left: -25%;
    top: 50px;
    left: 50%;
    width: 720px;
    height: 621px;
    display: none;
}
#medidorPlaneta{
    border: 2px solid white;
    width: 300px;
    height: 20px;
    background-color: white;
}
#barraPlaneta{
    width: 300px;
    height: 20px;
    background-color: rgb(75, 158, 186);
}
.tiroJog{
    width: 6px;
    height: 25px;
    background-color: rgba(101, 160, 227, 0.953);
    border-radius: 6px;
    position: absolute;

}
.bomba{
    width: 24px;
    height: 40px;
    background-image: url("Gifts/bomba.gif");
    position: absolute;
}
.explosaoAr{
    width: 70px;
    height: 70px;
    position: absolute;
}
.explosaoChao{
    width: 55px;
    height: 57px;
    position: absolute;
}
