@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: blue;
    background-image: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
    color: black;
    padding: 5px;
    
    
}
p{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 35px;
    color: black;
    margin: 5px;

}
.caixa{
    position: absolute;
    left: 620px;
    top: 150px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.219);
}
.btjogar{
    position: absolute;
    left: 700px;
    top: 150px;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.219);
    padding: 5px;
}
.btjogar:hover{
    color: white;
    background-color: rgba(73, 71, 71, 0.411);
}
.btnova{
    position: absolute;
    left: 850px;
    top: 150px;
    width: 160px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(70, 69, 69, 0.219);
    padding: 5px;
}
.btnova:hover{
    color: white;
    background-color: rgba(73, 71, 71, 0.411);
}
#textoinicial{
    position: absolute;
    left: 620px;
    top: 220px;
    font-size: large;
    
}
#letrasdig{
    position: absolute;
    left: 620px;
    top: 220px;

}
.dvdisplay{
    display: flex;
    position: absolute;
    left: 640px;
    top: 438px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.37);
    
}
.letra{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}
.forcaimg{
    position: absolute;
    left: 300px;
    top: 100px;
    height: 500px;
}
#cabeçaimg{
    position: absolute;
    left: 470px;
    top: 210px;
    width: 100px;
}
#cabeçaMimg{
    position: absolute;
    left: 470px;
    top: 210px;
    width: 100px;
}
#corpoimg{
    position: absolute;
    left: 488px;
    top: 272px;
    width: 100px;
    height: 100px;
}
#braçoEimg{
    position: absolute;
    left: 432px;
    top: 278px;
    width: 100px;
    height: 100px;
}
#braçoDimg{
    position: absolute;
    left: 535px;
    top: 277px;
    width: 100px;
    height: 100px;
}
#pernaEimg{
    position: absolute;
    left: 438px;
    top: 365px;
    width: 100px;
    height: 100px;
}
#pernaDimg{
    position: absolute;
    left: 533px;
    top: 360px;
    width: 100px;
    height: 110px;
}