*{
    margin: 0px;
    padding: 0px;
}

h1,p{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    
}
.caixa{
    position: absolute;
    left: 620px;
    top: 150px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.btjogar{
    position: absolute;
    left: 700px;
    top: 150px;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;

}
.btnova{
    position: absolute;
    left: 850px;
    top: 150px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
#textoinicial{
    position: absolute;
    left: 620px;
    top: 220px;
    font-size: large;
    
}
#letrasdig{
    position: absolute;
    left: 620px;
    top: 220px;

}
.dvdisplay{
    display: flex;
    position: absolute;
    left: 620px;
    top: 450px;
    
}
.letra{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 5px;
}
.forcaimg{
    position: absolute;
    left: 300px;
    top: 100px;
    height: 500px;
}
#cabeçaimg{
    position: absolute;
    left: 470px;
    top: 210px;
    width: 100px;
}
#corpoimg{
    position: absolute;
    left: 488px;
    top: 272px;
    width: 100px;
    height: 100px;
}
#braçoEimg{
    position: absolute;
    left: 432px;
    top: 278px;
    width: 100px;
    height: 100px;
}
#braçoDimg{
    position: absolute;
    left: 535px;
    top: 277px;
    width: 100px;
    height: 100px;
}
#pernaEimg{
    position: absolute;
    left: 438px;
    top: 362px;
    width: 100px;
    height: 100px;
}
#pernaDimg{
    position: absolute;
    left: 533px;
    top: 360px;
    width: 100px;
    height: 110px;
}