*{
    margin: 0px;
    padding: 0px;
}

h1,p{
    margin: 10px;
    text-align: center;
    font-size: 30px;
    
}
.forcaimg{
    position: absolute;
    left: 300px;
    top: 100px;
    height: 500px;
}
.caixa{
    position: absolute;
    left: 620px;
    top: 150px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.btjogar{
    position: absolute;
    left: 700px;
    top: 150px;
    width: 70px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;

}
.btnova{
    position: absolute;
    left: 850px;
    top: 150px;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
#jaUsado{
    position: absolute;
    left: 620px;
    top: 220px;
    font-size: large;
    
}
.dvdisplay{
    display: flex;
    position: absolute;
    left: 620px;
    top: 450px;
    
}
.letra{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
